#bios a {
	font-weight: bold;
}

#gallery a:hover img {
	opacity: .8;
}

#gallery {
	text-align: center;
}

#gallery > ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery > ul > li {
	display: inline;
	margin: 0 1px;
}

.errors {
	font-weight: bold;
	color: #CC0000; /* darkish red */
	display: none;
}

body {
	background: #EAEAEA;
	margin: 0;
	padding: 0;
	color: #333;
	font-family: helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Gruppo';
	font-weight: normal;
}

#main_wrapper {
	width: 80%;
	margin: auto;
}

#header {
	background: #3A3A3A url(images/header.png) top;
	position: fixed;
	z-index: 2;
	height: 100px;
	top: 0;
	width: 100%;
	-webkit-box-shadow:0px 0px 9px #333;
	box-shadow:0px 0px 9px #333;
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}

#header h1 {
	width: 80%;
	margin: auto;
	color: #FFF;
	line-height: 100px;
	font-weight: normal;
	font-size: 50px;
}

#header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	position: absolute;
	top: 40px;
	left: 600px;
}

#header ul li {
	float: left;
}

#header ul li a {
	background: #000;
	color: #FFF;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-decoration: none;
	margin-left: 10px;
}

#header ul li a:hover {
	background: #FFF;
	color: #000;
}

#content {
	margin-top: 100px;
	padding: 15px;
	background: #FFF;
	border: 1px solid #CCC;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

#content h2 {
	border-bottom: 1px solid #333;
}

#slider {
	margin: 0 auto;
	width:600px;
	padding: 0;
	background: #333;
	border: 3px solid #333;
}

#slider p {
	margin: 0;
	text-align: center;
	font-style: italic;
	line-height: 24px;
	color: #FFF;
}

#footer {
	font-size: 10px;
	color: #999;
	text-align: right;
	padding: 15px;
}
